@{
    ViewData["Title"] = "Whiteboard";
}

<div id="controls">
    <button id="pencilBtn">Pencil</button>
    <button id="brushBtn">Brush</button>
    <input type="color" id="colorPicker" value="#000000">
    <button id="eraserBtn">Eraser</button>
    <button id="clearBtn">Clear</button>
    <button id="downloadBtn">Download</button>
</div>

<div id="shapeControls">
    <button id="drawRectangleBtn">Rectangle</button>
    <button id="drawCircleBtn">Circle</button>
    <button id="drawLineBtn">Line</button>
    <button id="emojiBtn">Stamp</button>
</div>

<div id="sizeControls">
    <label for="sizeRange">Brush Size:</label>
    <input type="range" id="sizeRange" min="1" max="100" value="5">
</div>

<div id="canvasContainer">
    <canvas id="drawingBoard" width="1080" height="900"></canvas>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
